<!-- appointments/templates/appointments/cancelled.html -->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>Cita Falta</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="container">
        <h1 class="title">Tu cita ha sido marcada como Falta</h1>
        <p class="message">La cita se ha marcado como si no fue asistida</p>
    </div>
    
</body>
</html>